.container {
  padding: 2rem;
  width: 80%;
  max-width: 70rem;
  margin: 5rem auto;
  margin-bottom: 3rem;
  background-color: #fff;
  border-radius: 1rem;
}

.name {
  width: 90%;
  text-align: center;
  margin: 0 auto;
  padding-top: 1rem;
  padding-bottom: 0;
}

.image {
  width: 70%;
  max-width: 25rem;
  margin: 0 auto;
  margin-top: 3rem;
}

.image img {
  width: 100%;
  object-fit: contain;
}

.desc {
  padding-top: 1rem;
  font-style: italic;
  font-size: 1.1rem;
}

.price {
  padding-top: 1rem;
  font-weight: 700;
  font-size: 1.4rem;
  color: rgb(156, 80, 9);
}

.stars {
  display: block;
}

.star {
  margin-top: 0;
  font-size: 2rem;
  color: #666;
}

.star-active {
  color: rgb(226, 177, 13);
}

.buttons {
  margin-top: 4rem;
}

.btn-comments {
  display: block;
  width: 70%;
  max-width: 25rem;
  margin: 0 auto;
  margin-bottom: 3rem;
  text-align: center;
  text-decoration: none;
  padding: 0.6rem 1.5rem;
  border: 1px solid rgb(199, 119, 15);
  background-color: rgb(199, 119, 15);
  border-radius: 1rem;
  color: white;
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}

.btn-comments:active,
.btn-comments:hover {
  background-color: rgb(231, 104, 0);
  border-color: rgb(231, 104, 0);
}

.comments {
  /* background-color: rgb(175, 97, 97); */
  width: 100%;
  margin-top: 2rem;
}
