.item {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  width: 80%;
  max-width: 60rem;
  margin: 0.5rem auto;
  /* margin: auto; */
  padding: 1rem 2rem;
  border-radius: 14px;
  box-shadow: 1px 3px 3px rgba(0, 0, 0, 0.25);
}

.item .item-name {
  font-size: 1.4rem;
  margin: 0;
  margin-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.item .item-desc {
  margin: 0;
  padding-bottom: 1rem;
  font-size: 1.1rem;
  font-style: italic;
}

.item .item-price {
  font-weight: 700;
  font-size: 1.4rem;
  color: rgb(156, 80, 9);
  margin: 0;
  margin-top: 1rem;
}

.item-image-section {
  padding: auto;
  margin: auto 0;
  width: 50%;
  max-width: 10rem;
}

.item-image {
  height: auto;
  width: 100%;
  object-fit: contain;
}
