.clothes-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  margin-top: 1rem;
}

@media (max-width: 650px) {
  .clothes-list {
    margin: 0;
    margin-top: 3rem;
    padding: 0;
    width: 100%;
  }
}
