.list {
  list-style: none;
  padding: 0;
  width: 75%;
  max-width: 60rem;
  margin: auto;
  margin-top: 2rem;
}

.list-item {
  display: flex;
  justify-items: center;
  border-bottom: 1px solid black;
  padding: 0.5rem;
}

.avatar {
  height: 5rem;
  margin-top: 0.6rem;
}

.star {
  font-size: 1rem;
  color: #666;
  margin-top: 1rem;
}

.star-active {
  color: rgb(226, 177, 13);
}

.comment {
  font-size: 1.1rem;
  margin-bottom: 0;
  margin-top: 0.5rem;
}

.username {
  font-style: italic;
  margin-top: 0.4rem;
}

.comment-span div {
  margin-top: 0.5rem;
}

@media (max-width: 760px) {
  .list {
    width: 90%;
  }

  .avatar {
    height: 4rem;
    margin-top: 0.8rem;
  }

  .comment {
    font-size: 1rem;
  }

  .username {
    font-size: 0.9rem;
  }
}
